### Importing the required packages

In [42]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

### Same data as we have in notes

In [18]:
df = pd.DataFrame({
    'Age': [25,27,29,31,33,np.nan],
    'Experience': [np.nan,3,5,7,9,11],
    'Salary': [50,np.nan,80,90,100,130],
    'Personal Loan': [1,1,0,0,1,0],
})

In [19]:
df

    Age  Experience  Salary  Personal Loan
0  25.0         NaN    50.0              1
1  27.0         3.0     NaN              1
2  29.0         5.0    80.0              0
3  31.0         7.0    90.0              0
4  33.0         9.0   100.0              1
5   NaN        11.0   130.0              0

In [43]:
X = df.drop("Personal Loan", axis =1)   # Input Features
Y = df["Personal Loan"]   # Target

In [44]:
X

    Age  Experience  Salary
0  25.0         NaN    50.0
1  27.0         3.0     NaN
2  29.0         5.0    80.0
3  31.0         7.0    90.0
4  33.0         9.0   100.0
5   NaN        11.0   130.0

In [45]:
Y

0    1
1    1
2    0
3    0
4    1
5    0
Name: Personal Loan, dtype: int64

In [46]:
X.corr()

                 Age  Experience    Salary
Age         1.000000    1.000000  0.993859
Experience  1.000000    1.000000  0.956183
Salary      0.993859    0.956183  1.000000

In [52]:
linReg = LinearRegression()      # Using Linear Regression for Iterative Imputation.
# linReg = LogisticRegression()

iterative_imputer = IterativeImputer(estimator = linReg, max_iter = 20, imputation_order="roman")

In [53]:
iterative_imputer.fit(X)

IterativeImputer(estimator=LinearRegression(), imputation_order='roman',
                 max_iter=20)

In [54]:
iterative_imputer.transform(X)

array([[ 25.        ,   3.92817181,  50.        ],
       [ 27.        ,   3.        ,  70.00001958],
       [ 29.        ,   5.        ,  80.        ],
       [ 31.        ,   7.        ,  90.        ],
       [ 33.        ,   9.        , 100.        ],
       [ 37.37672724,  11.        , 130.        ]])

### Now this data can be used for further processing and model training